<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>home</h1>
   <form action="/signin" method="POST">
        <label>Email</label>
        <input name="email" type="text"/>
        <label>password</label>
        <input name="password" type="text"/>
        <button type="submit">sign up</button>
   </form>
</body>
</html>